body{
   
    font-family: 'Rubik' !important;
   color: black;
}
h1{
    font-family: "Yeseva One" !important;
    font-size: 3rem !important;
    color: black !important;
}




.page-header h1{
    font-weight: bold;
    padding: 15px;
}
.page-header{
    height: 15%;
    text-align: center;
}
.sec1{
    display: flex;
    margin-top: 20px;
}
.logo img{
    
    width: 60%;
    border-radius: 50%;
    -webkit-box-shadow: -15px 15px 0px -1px #00FF7F;
    -moz-box-shadow: -15px 15px 0px -1px #00FF7F;
    box-shadow: -15px 15px 0px -1px #00FF7F ;
}
.sec2{
    display: flex;
    margin-top: 10%;
}

.facultyimg{
    text-align: center;
    
}
.facultyimg img{
    width: 40%;
    border-radius: 15px;
    -webkit-box-shadow: -15px 15px 0px -1px #fd5353;
    -moz-box-shadow: -15px 15px 0px -1px #fd5353;
    box-shadow: -15px 15px 0px -1px #fd5353;
}
.facultyinfo{
    margin: auto;
}
.name{
    font-weight: bold;
}
.post{
    color:#fd5353 ;
    font-weight: bold;
}
.sec3{
    display: flex;
    margin-top: 10%; 
    text-align: center;
    font-weight: bold;
    
}
.sec3 h1{
    height: 15%;
    font-weight: bold;
}
.board{
    text-align: center;
}
.member img{
    width: 85%;
    box-shadow: 0px 0px 0px 6px rgba(0,0,0, 0.63);

}
.member p{
    margin: 0px;
}
.member span{
    font-size: 14px;
    color: #fd5353;
}
.card{
    width: 13rem;
    height: 19rem;
    display: inline-block !important;
    color: black !important;
    
}
.card img{
    align-self: center;
    margin: 15px 0px 15px 0px;
}
.card-body{
    padding: 1px !important;
    background-color:  	#00FF7F; 
}

.page-footer{
    margin-top: 10%;
    margin-bottom: 30px;
    text-align: right;
}
.linkdn{
    position: absolute;
    color: #0072b1;
    font-size: 24px !important;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}
.gotop{
    background-color: #52fd6d;
    border-radius: 30px;
    padding: 8px;
    cursor: pointer;
    font-size: 30px !important;
    color: #000000 !important;
}
.profile{
    position: absolute;
    color: #0072b1;
    font-size: 24px !important;
    right: 58%;
    bottom: 0px;
    cursor: pointer;
}









