html,body{
    width: 100%;
    height: 100%;
  
  }
  .fgh{
    padding: 1em;
  }
.dtd{
      color: white;
  }
  .tx{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
  }
  .ca{
       
      padding: 2em;
  }
  .cc{
      color:  	#00FF7F;
  }
 .da{
     padding: 2em;
     margin: 1em;
 } 
 .tx{
     text-align: justify;
    padding: 2em;
    margin: 1em;
} 
.pc{
   
   padding: 1em;
   margin: 1em;
} 
